@if (id) {
  <p>Update {{ id }}</p>
} @else {
  <p>Creation</p>
}
<form
    class="wrapper-form"
    [formGroup]="incidentForm"
    (ngSubmit)="handleSubmit()"
>
  <label>Title</label>
  <input type="text" formControlName="title" />
  <label>Description</label>
  <input type="text" formControlName="description" />
  <label>Requester Details</label>
  <input type="text" formControlName="requesterDetails" />
  <label>Status</label>
  <select name="status" formControlName="status">
    <option value="opened">Open</option>
    <option value="closed">Closed</option>
  </select>
  <button type="submit">Submit</button>
</form>
