div.wrapper-card {
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

div.wrapper-card p {
    margin: 0;
}

div.wrapper-card .header {
    display: flex;
    justify-content: space-between;
    background: #ECECEC;
    padding: .7em;
}

div.wrapper-card .body {
    background: #ffffff;
    padding: .4em .7em;
}

div.wrapper-card .footer {
    padding: .2em .7em;
}
.header span {
    font-size: .9em;
}

.footer p {
    font-size: .8em;
}

div.actions {
    display: flex;
    justify-content: flex-end;
    padding: .4em .3em;
}