<div class="wrapper-card">
  <div class="header">
    <span>title</span>
    <span>id</span>
  </div>
  <div class="body">
    <p>Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum
      Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum
      Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum
      Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum Lorem ipssum </p>
  </div>
  <div class="footer">
    <p>Requester</p>
  </div>
  <div class="actions">
    <a routerLink="/incidents/incident/1">
      Update
    </a>
  </div>
</div>